@using Microsoft.AspNetCore.Identity
@using QuanLyRapPhim.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        var user = await UserManager.GetUserAsync(User);
        <!-- Lấy thông tin User -->
        <li class="nav-item">
            <a id="manage" class="nav-link text-dark btn btn-outline-primary" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                Xin chào @user.FullName ! <!-- Hiển thị họ tên thay vì username -->
            </a>
        </li>
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-outline-danger border-0">
                    Đăng xuất
                </button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark btn btn-outline-light me-2" id="login" asp-area="Identity" asp-page="/Account/Login">
                Đăng nhập
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark btn btn-warning" id="register" asp-area="Identity" asp-page="/Account/Register">
                Đăng ký
            </a>
        </li>
    }
</ul>